# üìä √áok Bile≈üenli Python Projesi: Veritabanƒ± + Finansal Modelleme

Bu projede hem **SQL veritabanƒ± uygulamalarƒ±**, hem de **Avrupa tipi bariyer opsiyon fiyatlamasƒ±** gibi finansal modelleme √∂rnekleri yer almaktadƒ±r.

## üóÉÔ∏è SQL Veritabanƒ± Baƒülantƒ±sƒ± ve Temel ƒ∞≈ülemler

In [ ]:

import pypyodbc

conn = pypyodbc.connect("Driver={SQL Server};Server=.;Database=TestDB;Trusted_Connection=yes;")
cursor = conn.cursor()

In [ ]:

cursor.execute("""
CREATE TABLE Personel (
    ID INT PRIMARY KEY,
    Name NVARCHAR(50),
    Age INT
)
""")
conn.commit()

In [ ]:

cursor.execute("INSERT INTO Personel (ID, Name, Age) VALUES (?, ?, ?)", (1, 'Merve', 27))
cursor.execute("INSERT INTO Personel (ID, Name, Age) VALUES (?, ?, ?)", (2, 'Ahmet', 30))
conn.commit()

In [ ]:

cursor.execute("SELECT * FROM Personel")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:

cursor.execute("UPDATE Personel SET Age = ? WHERE ID = ?", (31, 2))
conn.commit()

In [ ]:

cursor.execute("DELETE FROM Personel WHERE ID = ?", (1,))
conn.commit()
conn.close()

## üíπ Avrupa Tipi Bariyer Opsiyon Modeli (Sim√ºlasyon)

In [ ]:

import numpy as np
import matplotlib.pyplot as plt

S0 = 100      # Ba≈ülangƒ±√ß fiyatƒ±
K = 100       # Kullanƒ±m fiyatƒ±
T = 1         # Vade
r = 0.05      # Risksiz faiz oranƒ±
sigma = 0.2   # Volatilite
H = 120       # Bariyer seviyesi
n = 10000     # Sim√ºlasyon sayƒ±sƒ±

np.random.seed(42)
Z = np.random.randn(n)
ST = S0 * np.exp((r - 0.5 * sigma**2) * T + sigma * np.sqrt(T) * Z)
payoffs = np.where(ST < H, np.maximum(ST - K, 0), 0)
option_price = np.exp(-r * T) * np.mean(payoffs)
print(f"Avrupa Tipi Bariyer Opsiyon Fiyatƒ±: {option_price:.2f}")

plt.hist(ST, bins=50, alpha=0.7)
plt.title("Opsiyon Vade Sonu Fiyat Daƒüƒ±lƒ±mƒ±")
plt.xlabel("Fiyat")
plt.ylabel("Frekans")
plt.grid(True)
plt.show()